
#head{
    width: 100%;
    height: 100vh;
    background-image: url(./images/wallpaper1.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}
.contain{
    padding: 5px 5%;
}
.img-box{
    margin:auto;
    /* width:50%; */
    /* text-align: center; */
}
/* .image-box{
    width: 100%;
} */

.work{
    margin-top: 5vmax;
    font-size: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box input{
    width: 60px;
    height: 60px;
    margin-top: 1vmax;
    border: 1px solid gray;
    display: inline-block;
    outline: none;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.image-box input[type="radio"]:hover{
    transform:scale(1.1);
    box-shadow: 0 0 5px black;
}
#img-01{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer.png);
    background-size: cover;
}
#img-02{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(2\).png);
    background-size: cover;
}
#img-03{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(1\).png);
    background-size: cover;
}
#img-04{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(3\).png);
    background-size: cover;
}
/* #img-05{
    background-image: url(mywork/Logo\ 2.png);
    background-size: cover;
} */
.image-bg{
    width: 20vmax;
    height: 28vmax;
    margin-top: 10px;
    
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}



#img-01:checked ~ .image-bg{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer.png);
    background-size: cover;
}
#img-02:checked ~ .image-bg{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(2\).png);
    background-size: cover;
}
#img-03:checked ~ .image-bg{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(1\).png);
    background-size: cover;
}
#img-04:checked ~ .image-bg{
    background-image: url(mywork/Yellow\ and\ White\ Restaurant\ Flyer\ \(3\).png);
    background-size: cover;
}
/* #img-05:checked ~ .image-bg{
    background-image: url(mywork/Logo\ 2.png);
    background-size: cover;
} */


/* ----------------------- swiper --------------- */

.workcontainer{
    display: flex;
    margin-top: -60px;
}

.swiper{
    width: 30%;
    height: fit-content;
    margin-top: 5vmax;

}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: 0.4s ease-in-out;
    
}

.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover{
    background-color: rgba(206, 203, 203, 0.671);

    
}
.swiper .swiper-pagination-bullet{
    background: white;
    cursor: pointer;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
    transition: all 0.4s ease-in-out;
    transform:scale(2.1);

}


.swiper-slide img {
    width: 100%;
}

/* ------------------ about ----------------- */

.containWeb{
    width: 100%;
}
.mywebDoc img{
    width: 100%;
    margin: 5vmax 0 5vmax;
}



@media only screen and (max-width: 875px){
    .workcontainer{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    #head{
        width: 100%;
        height: 190vh;
        background-image: none;
        background-color: black;
    }
    .image-bg{
        width: 34vmax;
        height: 48vmax;
    }
    .swiper{
        width: 65%;
    }

}
